* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*
    write all animations here 
    */

@keyframes hover {
    from {
        /* bottom: 0; */
        object-position: 50% 40%;
    }
    to {
        /* bottom: 100px; */
        object-position: center;
    }
}